---
export const prerender = false;

import BaseLayout from "@/layouts/BaseLayout.astro";
import ContentSection from "@/components/sections/ContentSection.astro";
import ContactForm from "@/components/sections/ContactForm.astro";
import { Icon } from "astro-icon/components";
import { SITE } from "@/constants";

//Load the Cloudflare Turnstile script
const cfTurnstile = {
  src: "https://challenges.cloudflare.com/turnstile/v0/api.js",
  type: "text/javascript"
};

const pageTitle: string = `Contact Us | ${SITE.title}`;
---

<BaseLayout
  title={pageTitle}
  structuredData={{
    "@context": "https://schema.org",
    "@type": "WebSite",
    "url": "https://www.sunrisevistamedia.com/",
    "name": "Sunrise Vista Media",
    "description": "Sunrise Vista Media is a full-service production company that specializes in creating high-quality video content.",
    "inLanguage": "en-US"
  }}
  externalScript={cfTurnstile}
>
    <div class="max-w-screen-2xl mx-auto space-y-24 px-8 py-32">
        <ContentSection title="Contact Us">
            <Icon slot="eyebrow" name="mdi:connect-without-contact" class="size-24" />
            <Fragment slot="lead">
                Contact info here      
            </Fragment>
        </ContentSection>
        <ContactForm />
     </div>
</BaseLayout>
<!-- Handle form submission data and messages. See ContactForm.astro for form elements -->
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const form = document.getElementById('contact-form') as HTMLFormElement;
    const errorMessageContainer = document.getElementById('error-message') as HTMLDivElement;

    if (form) {
      form.addEventListener('submit', async (e) => {
        e.preventDefault();
        
        // Check if Turnstile is loaded
        if (typeof window.turnstile === 'undefined') {
          console.error('Turnstile is not loaded');
          if (errorMessageContainer) {
            errorMessageContainer.textContent = 'An error occurred. Please try again later.';
            errorMessageContainer.classList.replace('hidden', 'block');
          }
          return;
        }

        // Get the Turnstile response
        const turnstileResponse = window.turnstile.getResponse('#cf-turnstile');
        if (!turnstileResponse) {
          if (errorMessageContainer) {
            errorMessageContainer.textContent = 'Please complete the Turnstile challenge.';
            errorMessageContainer.classList.replace('hidden', 'block');
          }
          return;
        }
        
        const formData = new FormData(form);
        formData.append('cf-turnstile-response', turnstileResponse);
        
        try {
          const response = await fetch('/api/sendContactEmail', {
            method: 'POST',
            body: formData
          });

          if (response.ok) {
            const result = await response.json();
            if (result.success) {
              // Redirect to the confirmation page
              window.location.href = '/contact/submission-received/';
            } else {
              throw new Error(result.message || 'An error occurred');
            }
          } else {
            throw new Error('Server responded with an error');
          }
        } catch (error) {
          console.error('Error:', error);
          if (errorMessageContainer) {
            errorMessageContainer.textContent = error instanceof Error ? error.message : 'An unexpected error occurred. Please try again later.';
            errorMessageContainer.classList.replace('hidden', 'block');
          }
        } finally {
          // Reset Turnstile after form submission (whether successful or not)
          window.turnstile.reset('#cf-turnstile');
        }
      });
    }
  });
</script>
