---
import { Image } from "astro:assets";

export interface Props {
  site: {
    title: string;
    image: string;
    url: string;
    featured?: number;
  };
}

const { site } = Astro.props;

---

<figure class="p-12 group relative h-full w-full overflow-hidden bg-slate-600 dark:bg-slate-800 rounded-md">
  <Image
    class="h-auto w-full bg-cover object-cover transition-all duration-300 group-hover:scale-110 group-hover:opacity-20 group-focus:scale-110 group-focus:opacity-20"
    src={site.image}
    width="240"
    alt={`Client logo of ${site.title}`}
  />
  <figcaption class="absolute inset-0">
    <div
      class="flex h-full flex-col items-center justify-center gap-2 opacity-0 transition-all duration-300 group-hover:opacity-100 group-focus:opacity-100"
    >
      <h3 class="text-center font-extrabold uppercase text-xl">
        {site.title}
      </h3>
    </div>
  </figcaption>
</figure>
