---
import { Vimeo } from "astro-embed"
---

<section class="max-w-screen-xl mx-auto grid grid-cols-1 gap-16 md:grid-cols-2">
    <Vimeo id="867322160" />
    <Vimeo id="921387960" />
    <Vimeo id="910631169" />
    <Vimeo id="750424533" />
    <Vimeo id="815467031" />
    <Vimeo id="684091497" />
    <Vimeo id="766631125" />
    <Vimeo id="823956394" />
</section>
