---
import { Icon } from "astro-icon/components";
---

<button
  id="back-to-top"
  class="fixed bottom-5 right-5 bg-primary text-primary-content p-2 rounded-full shadow-lg transition-opacity duration-300 opacity-0 invisible"
  aria-label="Back to top"
>
  <Icon name="mdi:arrow-up-drop-circle" class="size-8" />
</button>

<script>
  const backToTopButton = document.getElementById('back-to-top');

  function toggleBackToTopButton() {
    if (window.scrollY > 300) {
      backToTopButton.classList.remove('opacity-0', 'invisible');
      backToTopButton.classList.add('opacity-100', 'visible');
    } else {
      backToTopButton.classList.add('opacity-0', 'invisible');
      backToTopButton.classList.remove('opacity-100', 'visible');
    }
  }

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  }

  window.addEventListener('scroll', toggleBackToTopButton);
  backToTopButton.addEventListener('click', scrollToTop);
</script>
