---
import { Image } from "astro:assets";
import logo from "@/assets/images/SVM-Logo.png";

---

<div class="w-full">
    <Image
    class="h-full w-full object-cover"
    src={logo}
    loading="eager"
    alt="Sunrise Vista Media logo"
  />
</div>